@model IEnumerable<PassManager.Models.GroupModel>
@using PassManager.Data
@inject MyContext mycontext
@using Microsoft.AspNetCore.Identity
@using System.Globalization
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Index";
    string kadi="Dostum";
    if(UserManager.GetUserName(User)!=null)
    {
        string eposta = UserManager.GetUserName(User);
        string[] Split = eposta.Split('@');
        kadi=CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Split[0]);
    }
}

<h1>@kadi's Passwords</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Group <i class="fa-solid fa-plus"></i></a>
</p>
<ol class="list-group list-group-numbered">
    @foreach (var item in Model)
    {
            <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
                <div class="ms-2 me-auto w-100">
                    <div class="fw-bold"> 
                        <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Pass" asp-route-id="@item.ID">Add Pass in @item.groupName Group <i class="fa-solid fa-plus"></i></a>
                        <a asp-action="Edit" asp-controller="Group" asp-route-id="@item.ID" class="btn btn-sm btn-warning list-group-control"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Delete" asp-controller="Group" asp-route-id="@item.ID" class="btn btn-sm btn-danger list-group-control"><i class="fa-solid fa-trash"></i></a>
                        <div class="text-center">@item.groupName</div>
                        </div>
                        <table class="w-100 ml-2">
                            <thead class="w-100">
                                <th style="width: calc(25%);">Pass Name</th>
                                <th style="width: calc(25%);">Url</th>
                                <th style="width: calc(35%);">Pass</th>
                                <th style="width: calc(15%);">Tools</th>

                            </thead>
                    @foreach (var pass in mycontext.Passwords.Where(x => (x.GroupID == item.ID) && (x.isPassive==false)))
                    {
                            <tbody class="w-100">

                                <tr class="w-100">
                                    <td style="width: calc(25%);">@pass.passName</td>
                                    <td style="width: calc(25%);"><a href="@pass.URL" target="_blank" class="yonlendirme">@pass.URL</a></td>
                                    <td style="width: calc(30%);"><input disabled type="password" value="@pass.Pass" id="@pass.ID"> <input style="visibility: hidden;" id="cb_@pass.ID" type="checkbox"
                                    onclick="myFunction(@pass.ID)"><label for="cb_@pass.ID"><i class="fa-solid fa-eye"></i></label></td>
                                    <td style="width: calc(15%);">
                                        <a asp-action="Edit" asp-controller="Pass" asp-route-id="@item.ID" class="btn btn-sm btn-warning list-group-control"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a asp-action="Delete" asp-controller="Pass" asp-route-id="@item.ID" class="btn btn-sm btn-danger list-group-control"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                    }
                    </table>
                </div>
                <span class="badge bg-primary rounded-pill">@mycontext.Passwords.Where(x => (x.GroupID == item.ID) && (x.isPassive==false)).Count()</span>
            </li>
    }

</ol>
<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>